		* {
			margin: 0; 
			padding: 0;
		}
		a:link{
			color: black;
			background-color: transparent;
		}
		a:hover {
		color: white;
		background-color: transparent;
		}

		

		body {
			background-image: url(bg.png);
			font-family: Tahoma;
		}
		
		#frame {
			background-color: rgba(255,200,200,0.3);
		margin-right: 411px;
		margin-left: 411px;
		}
		
		header nav ul {
			list-style-type: none;
			background-color: rgba(255,255,200,0.3);
		}
		
		#content {
			
		}
		
		nav li {
			display: inline-block;
			padding:11px;
		}
		
		nav li a {
		
		display: inline-block;

		}
		
		main{
			border: 1px black solid;
			background-color: rgba(200,200,255,0.3);
		}
		
		aside{
			border: 1px black solid;
			background-color: rgba(200,255,200,0.3);
		}
		
		body article {
			background-color: rgba(200,200,200,0.6);
		}
		
		header {
		}
		
		footer {
			background-color: rgba(255,255,200,0.3);
		}
	
		h1	{

			text-align: center;


		}